@import "tailwindcss";



@theme {
  --color-dark: #101415;
  --color-mid: #1f2729;
  --color-light: #e5e7eb;
}

/* :root {
  --background: var(--color-light);
  --text: var(--color-dark);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background:  var(--color-dark);
    --text: var(--color-light);
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "bebas-neue-pro", Arial, Helvetica, sans-serif;
}